/* 
Heading Font Family
font-family: 'Open Sans', sans-serif;

Body Font Family
font-family: Arial,sans-serif

Theme color (Header, Button, Link)
#333  *Orange*
#333  *Dark Grey*
 */


/*  TABLE OF CONTENTS
------------------------------

1. Global Styles
2. Header Styles
3. Footer Styles
4. Home Page Styles
5. Dynamic Page Styles
5. System Page Styles
6. Forms Styles
7. Add-on Styling 
8. Responsive Media Queries 

  */


/* Home banner - saperate style ../strapslide.css - Please edit there */


/* 1. Global */

body {
    font-family: 'Open Sans', sans-serif; font-size: 16px;
    height: 100%;
}

a,button,.btn{ outline: none !important; -o-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; -ms--moz-transition: all 0.5s ease-in-out 0s; -o--moz-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s; text-decoration:none !important;}

a {
    color: #2c2b7c;

    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:active, a:focus {
    color: #44c8f5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
    color: #333;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #2c2b7c;
    font-weight: 400;
    text-transform: uppercase;
}
h2{    font-size: 26px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #2c2b7c;
    font-weight: 400;
    }
h3{
    font-size: 28px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #2c2b7c;
    font-weight: 400;
}
h4{
    font-size: 25px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #2c2b7c;
    font-weight: 400;
}
h4{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #2c2b7c;
    font-weight: 400;
}

h3 span{
   font-size: 20px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
    margin-top: 8px;
    color: #2c2b7c;
    font-weight: 400; 
    display: block;
}
.profileMeterRing .progress-value .perc{
    font-family: 'Montserrat', sans-serif;
}

*:focus,
a:focus,
input:focus,
.btn:focus {
    outline: 0;
    outline: none;
}

p{ color: #2c3942; font-size: 16px; line-height: 20px; margin-bottom: 20px; font-weight: 400;}

ul,
ol {
    padding-left: 23px;
}

img {
    max-width: 100%;
}

body {
    color: #2c3942; font-weight: 400;
}

iframe {
    width: 100%;
    border: none;
    background: transparent;
    overflow: hidden;
}

.interview-ul{
    margin-bottom: 25px;
}
.banner-sec:before{
    content: "";
    background: rgba(255,255,255,0.1);
    height: 100%;
    width: 100%;
    position: absolute;
}



.dynamic-breadcrumb{
    display: none;
}
#dynamic-container,
#content-container,
#job-dynamic-container {
    padding-top: 3em;
    padding-bottom: 2em;
}

#dynamic-side-left-container,
#side-left {
    margin-top: 8px;
}
.jxt-mini-campaign {
    padding-top: 2em;
}
.phoneTop {
    background-color: #2c2b7c;
    line-height: 30px;
    color: #6a6a6a;
    font-weight: 600;
    font-size: 13px;
    padding: 0 180px;
}

.phoneTop a{ color: #fff; font-size: 14px; line-height: 1; font-family: 'Open Sans', sans-serif; font-weight: 400; text-decoration: none;}
.phoneTop a:hover, .phoneTop a:focus{ color: #44c8f5;}
.top-contact a{ margin: 14px 30px 15px 0px; display: inline-block; vertical-align: top;}
.top-contact a i, .top-contact a em{ margin-right: 3px; display: inline-block; vertical-align: top;}


/* 2. Header */

.inner-header .navbar-brand{ margin-top: 30px;}

.navbar-brand {
    height: auto;
    padding:0;
    width: 350px;
    margin-top: 72px;
    display: inline-block;
}

.navbar-brand >img{
    width: 100%;
}

/* 2.1 Top nav */

.navbar .navbar-collapse > ul:not(.navbar-nav) {
    display: none;
}

#site-topnav .navbar {
    margin-bottom: 10px;
}

#site-topnav .nav>li>a:hover,
#site-topnav .nav>li>a:focus {
    background-color: transparent;
}

#site-topnav ul,
#site-topnav li {
    list-style: none;
}

#site-topnav ul ul ul {
    padding-left: 0;
}

.navbar-wrapper {
    z-index: 20;
    padding: 0 180px;
}

.home-page .navbar .nav > li > a{    color: #2c2b7c;
    -webkit-text-shadow: 0px 0px 0px #000000;
    -moz-text-shadow: 0px 0px 0px #000000;
    text-shadow: 0px 0px 0px #000000;
    text-decoration: none;}

.navbar .nav > li > a {
    
    color: #2c2b7c;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 7px;
        margin: 0 15px;   
    font-family: 'Open Sans', sans-serif;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus  {
    color:#44c8f5;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color:#44c8f5; 
}

.navbar-nav>li>.dropdown-menu {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #44c8f5;
    border: none;
    margin-top: -1px;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: #112C56;
}

.navbar .nav li.dropdown li a {
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
}

.navbar .nav li.dropdown ul li ul li>a {
    padding-left: 35px;
}

.navbar .nav li.dropdown li a:hover,
.navbar .nav li.dropdown li.active>a {
    background-color: #2c2b7c;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}

#Top-nav-sticky {
    /*background: #fff;
    box-shadow: 0 0 3px #E2E2E2;*/
    position: absolute;
}
#wrapper{    height: 100%; position: relative;}

.dropdown-menu li li a {
    display: block;
}


/* 2.2 Social media links */

#site-social,
#site-social-footer {
    margin: 0;
}

#site-social li,
#site-social-footer li {
    color: #fff;
    padding: 0 20px;
    margin-top: 12px;
}
#site-social li a{ color: #fff; }
#site-social li a:hover, #site-social li a:focus{ color: #2c3942;}

#site-social li a,
#site-social-footer li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 17px;    
}
#memberStatusDashLogin{ padding: 0px 7px 0 10px !important;}
li#memberStatusDashRegister a, #memberStatusDashLogin a{ font-size: 14px !important;}
li#memberStatusDashRegister{padding: 0px 0px 0 10px !important;}

#site-social li a:hover, #site-social li a:focus {
    color: #44c8f5;
}

#site-social-footer li a:hover, #site-social-footer li a:focus {
    color: #2c2b7c;
}
#site-social li a em,
#site-social li a i,
#site-social-footer li a em {
    /*border: 1px solid #757575;
    padding: 9px 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;*/
    text-align: center;
}

#site-social li a:hover em,
#site-social li a:hover i,
#site-social-footer li a:hover em {
    border-color: #2c3942;
}



/* 3. Footer Styles */

#footer {}

.footer-top{ text-align: center; background: #44c8f5; padding: 105px 0; }
.footer-top h2{ color: #fff;     font-size: 55px;
    line-height: 50px;
    font-weight: 600; margin-bottom: 60px; font-family: 'Montserrat', sans-serif;    text-transform: uppercase;}
.footer-top h3{ color: #fff; font-size: 32px; line-height: 32px; font-family: 'Montserrat', sans-serif; font-weight: 600; margin-bottom: 25px;}
.footer-top p{ color: #fff; }
.footer-top p a{ color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 600;}
.footer-top p a:after{content: "|"; color: #fff; display: inline-block; vertical-align: top;  margin: 0 15px; font-size: 22px; font-family: 'Montserrat', sans-serif; font-weight: 300;}
.footer-top p a:last-child:after{ display: none;}
.footer-top p a:hover, .footer-top p a:focus{ color: #2c2b7c; }

#moreinfo {
    background-color: #f2f2f2;
    padding: 3em 0 2em 0;
}

#moreinfo a {
    text-decoration: none;
}

#moreinfo .foo-info {
    padding-top: 1em;
}

#moreinfo .foo-info h3 {
    margin-bottom: 1em;
    font-size: 21px;
}

#moreinfo .foo-info h3 em {
    color: #ccc;
    padding-left: 10px;
}

#moreinfo .foo-info a {
    color: #333;
    line-height: 2.3em;
}

#moreinfo .foo-info a:hover, #moreinfo .foo-info a:focus {
    color: #333;
    text-decoration: underline;
}

#moreinfo .foo-qlinks a {}

#moreinfo .foo-qlinks a em {
    font-size: 25px;
    position: relative;
    top: 5px;
    padding-right: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#moreinfo .foo-qlinks a:hover em {
    color: #333;
}

#disclaimer {
    padding: 10px 0;
    background: #2c2b7c;
    color: #fff;
}

#disc-links{ padding: 0; margin: 0; }
#disc-links a, #disclaimer .align-right ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}

#disc-links a:hover, #disclaimer .align-right ul li a:hover, #disc-links a:focus, #disclaimer .align-right ul li a:focus {
    color: #44c8f5;
}
#disclaimer .align-right{ text-align: right; }
#disclaimer .align-right ul{ padding: 0; margin: 0; }
#disclaimer .align-right ul li{ text-align: right; list-style: none; }


#disclaimer #site-social-footer {
    margin: 0;
}




/* 4. Home Page Styles */


/* Home Banner */

.banner-sec {
    display: block;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 64% 0%;
    /* min-height: 900px; */
}
.banner-wrapper {
    width: 100%;
        height: 100%;
}
.banner-text{bottom: 35%; position: absolute;    left: 197px;
width: 50%}
.banner-inner-wrap{
        margin-bottom: 0px;
}

.banner-sec>.banner-wrapper>.container{
        position: relative;
    height: 100%;
}
.banner-wrapper h1{     color: #2c2b7c;
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
text-transform: capitalize;}
.banner-wrapper p{ font-size: 18px; line-height: 24px;     color: #2c2b7c; font-weight: normal; margin-bottom: 20px;}
.banner-wrapper .banner-btn{ margin-top: 35px;}
.btn{ color: #fff; background: #820d4b; text-transform: uppercase; display: inline-block; vertical-align: top; padding: 11px 33px; text-align: center; text-decoration: none; margin: 0 12px; font-weight: bold; font-size: 18px;  font-family: 'Montserrat', sans-serif; border-radius: 8px;}
.btn:hover, .btn:focus{ background: #44c8f5; color: #fff;}
.banner-btn > a:first-child{
    background-color: #44c8f5;
        margin-left: 0px;
}
 .banner-btn > a:first-child:hover, .banner-btn > a:first-child:focus{
    background-color: #2c2b7c;
}
.banner-btn a{
    background-color: #2c2b7c;
}
#prefix_banner-container>div {
    overflow: hidden;
}

.highlight {
    color: #2c2b7c;
}
h2 .highlight {
    color: #fff !important;
}
.uncomplete-sec-list .fa:hover, .uncomplete-sec-list .fa:focus {
    color: #2c2b7c;
}
#CV-content .btn-primary:hover, #CV-content .btn-primary:focus {
    color: #fff;
    background-color: #44c8f5!important;
    border-color: #44c8f5;
}
h3 .form-icon{
    margin-top: 0px;
}
#CV-content h1, #CV-content h2, #CV-content h3, #CV-content h4, #CV-content h5, #CV-content h6{
    color: #2c2b7c;
}
.text-incomplete {
    color: #2c2b7c;
}
.profileMeterRing .progress-bar .rotate{ background: #2c2b7c !important; }
.profileMeterRing .progress-bar .right{background: #2c2b7c !important;}
.db_section-header{ background: #2c2b7c ;  }

/* Search Widget */

#widget-search {
        position: absolute;
    z-index: 1000;
    margin-top: -285px;
    margin-left: 57px;
    left: 0;
    right: 0;
}

.home-sec .container{
    position: relative;
}

#widget-search .widget-home{padding: 0 90px 0 0;}

#widget-search .form-group {
    margin-bottom: 22px;
}

#widget-search .form-group label {
    display: none
}

#btn-widget-search {
    color: #fff;
    border-radius: 8px;
    background-color: #df6628;
    border: none;
    padding: 13px 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#btn-widget-search .container{ padding: 0 108px;}

#btn-widget-search:hover, #btn-widget-search:focus {
    background-color: #44c8f5;
}

#widget-search input[type="text"] {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 15px;
    line-height: 52px;
    height: 52px;
    border-radius: 8px;
}

#widget-search select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #abb0b3;
    line-height: 1;
    outline: 0;
    overflow: hidden;
    position: relative;
    text-indent: 1px;
    -o-text-overflow: '';
       text-overflow: '';
    height: 52px;
    padding: 13px 15px;
    width: 100%;
    cursor: pointer;
    line-height: normal;
    border: 1px solid #cccccc;
    border-radius: 8px
}

#widget-search .custom-select .search-widget {
    background-color: #fff;
    display: block;
    border-radius: 8px;/*
    border: 1px solid #cd9eb7;*/
    overflow: hidden;
}

#widget-search .custom-select:before {
    display: inline-block;
    content: "\f078";
    color: #2c2b7c;
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    position: absolute;
    right: 1.7em;
    top: 0.8em;
    text-decoration: inherit;
}

#widget-search :-moz-placeholder {color:#abb0b3; opacity:1;}
#widget-search ::-webkit-input-placeholder {color:#abb0b3; opacity:1;}
#widget-search ::-moz-placeholder {color:#abb0b3; opacity:1;}
#widget-search :-ms-input-placeholder { color:#abb0b3; opacity:1;}


/* Home Content */

.styled-desc {
    font-size: 17px;
}

.styled-border {
    padding: 0 2em 2em 2em;
}

.styled-border:after {
    border-bottom: 1px solid #333;
    bottom: 0;
    content: '';
    left: 38%;
    right: 38%;
    position: absolute;
    width: 24%;
}

.h-section {
    padding: 2em 0;
}

.h-section .row {
    padding: 2em 0;
}

.h-section h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.h-section h2 span {
    color: #333;
}

.h-section .row.h-qlinks {
    padding: 1.2em 0;
}

.h-qlinks a {
    display: block;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 1.4em 0;
    line-height: 1.8em;
    margin: 0.6em 0;
}

.h-qlinks a em {
    font-size: 50px;
}

.h-qlinks a:hover, .h-qlinks a:focus {
    color: #fff;
    background-color: #333;
}

.outline-outward {
    display: inline-block;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.outline-outward:hover:before,
.outline-outward:focus:before,
.outline-outward:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

.outline-outward:before {
    content: '';
    position: absolute;
    border: #ECECEC solid 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    -o-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.section-service {
    background: url(../images/bg-h-service.jpg) 50% 50% no-repeat fixed;
    background-size: cover;
}

.h-section .row.h-services {
    padding: 0 0 1em 0;
}

/* Wel come text */
.home-sec{ padding: 70px 0 55px; text-align: center;}
.welcome-text{ padding: 0 156px; margin-bottom: 70px;}
.welcome-text h2{ color: #2c2b7c;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    line-height: 38px;
    font-weight: bold;}

.area-expertise-list{}
.area-expertise-list ul{padding: 0 25px; margin: 0 0 0 5px;}
.area-expertise-list ul li{ padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
    width: 36%;
    background-size: cover;
    position: relative;}
.area-expertise-list ul li:nth-child(2n+2) {
    margin-left: -4%;
    margin-right: -4%;
    position: relative;
    z-index: 2;
}
.area-expertise-list ul li a{ display: block;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    padding: 50% 0;
    background-size: cover;
    text-decoration: none; }

.area-expertise-list .expert1:after{ content: ""; position: absolute; left: -50%; top: -50%; width: 150%; height: 150%; display: block; opacity: 0.5; background-color: #2c2b7c;}
.area-expertise-list .expert2:after{ content: ""; position: absolute; left: -50%; top: -50%; width: 150%; height: 150%; display: block; opacity: 0.6;
    background-color: #2c2b7c;}
.area-expertise-list .expert3:after{ content: ""; position: absolute; left: -50%; top: -50%; width: 150%; height: 150%; display: block; opacity: 0.5; background-color: #2c2b7c;}




.expertise-text{     position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 99;
    width: 100%;
    text-align: center;
    padding: 0 50px;}
.expertise-text h2, .expertise-text .title{ color: #fff; font-size: 34px; line-height: 34px; display: block; margin-bottom: 20px; font-family: "Montserrat", sans-serif; font-weight: bold}
.hide-text{ color: #fff; opacity: 0; height: 0;}
.hide-text p, .hide-text{ color: #fff; opacity: 0; height: 0; margin-bottom: 0; display: block;}

.area-expertise-list ul li a:hover .hide-text, .area-expertise-list ul li a:hover .hide-text p{ opacity: 1; height: auto; }
.area-expertise-list ul li a:hover .hide-text p{margin-bottom: 20px;}
.area-expertise-list ul li:hover a{z-index: 999;}
.area-expertise-list ul li:hover a:after{        opacity: 1;
    background-color: #2c2b7c;}

/*.area-expertise-list ul li, .area-expertise-list ul li a, .hide-text, .hide-text p, .expertise-text h2 {
    -o-transition: all 0.5s ease-in-out 0s;transition: all 0.5s ease-in-out 0s; 
-moz-transition: all 0.5s ease-in-out 0s; 
-ms--moz-transition: all 0.5s ease-in-out 0s; 
-o--moz-transition: all 0.5s ease-in-out 0s; 
-webkit-transition: all 0.5s ease-in-out 0s;}*/


/*.area-expertise-list ul li img{ width: 100%; height: auto; border-radius: 100%; position: relative; overflow: hidden;}
.area-expertise-list ul li figure:after{ content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block; opacity: 1; background: url(../images/area-expertise-list-bg.png) no-repeat 0 0; }*/


/* Home News*/
.home-news{     padding: 90px 260px 85px; background: #df6628;}
.home-news .title{ text-align: center; margin-bottom: 60px;}
.home-news .title h2{     color: #ffffff;
    font-size: 34px;
    line-height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;}
.home-news p{color: #ffffff;overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;}
.home-news .tile-content{ padding: 20px 0 0 0; border-top: 1px solid #fff; margin-top: 22px;}
.tile-image{ }
.tile-image a{ display: block; cursor: pointer; }
.tile-image img{ width: 100%; height: auto; }
.home-news h3{ display: none;}
.home-news .block-card{ position: relative; }
.home-news .block-card .date{ position: absolute; left: 0; top: 0; font-size: 16px; color: #fff; font-weight: bold; font-family: 'Montserrat', sans-serif; padding: 6px 10px; background-color: #2c2b7c; background-size: cover; z-index: 99; }

.home-news .owl-controls{ position: absolute; width: 112%; top: 50%; left: -6%;}
.home-news .owl-controls .owl-prev, .home-news .owl-controls .owl-next{ font-size: 0px; }
.home-news .owl-controls .owl-next{ position: absolute; right: 0%; float: right;}
.home-news .owl-controls .owl-prev:after, .home-news .owl-controls .owl-next:after{ font-size: 17px; color: #fff; font-family: FontAwesome; }
.home-news .owl-controls .owl-prev{ float: left;}
.home-news .owl-controls .owl-prev:after{ content: "\f053"; }
.home-news .owl-controls .owl-next:after{ content: "\f054"; }
.home-news .owl-controls .owl-prev:hover:after, .home-news .owl-controls .owl-prev:focus:after, .home-news .owl-controls .owl-next:hover:after, .home-news .owl-controls .owl-next:focus:after{ color: #2c2b7c; }

/* Home Jobs*/
.home-jobs{ padding: 90px 260px 90px; background: url(../images/job-bg.jpg) no-repeat 0 0; background-size: cover; }
.home-jobs .title{ text-align: center; margin-bottom: 40px; }
.home-jobs .title h2{ color: #2c2b7c;
    font-size: 34px;
    line-height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;}
.home-jobs p{color: #2c3942;}
.home-jobs .tile-content{ padding: 20px 20px 10px 70px;
    width: 100%;
    background-color: #2c2b7c;
    opacity: 0.9;
    z-index: -1;
}
.home-jobs .tile-content h3, .home-jobs .tile-content a{ color: #fff; font-size: 16px; text-transform: uppercase; font-weight: bold; font-family: 'Montserrat', sans-serif; position: relative; margin-bottom: 12px; padding-bottom: 12px;}
.home-jobs .tile-content h3:after{ position: absolute; content: ""; width:  25px; height: 2px; background: #fff; left: 0; bottom: 0;}
.home-jobs .xmlLocation{ display: none; }
.home-jobs .tile-content p{ margin-bottom: 20px; color: #fff; }
.home-jobs .rss-item-pubDate-full-year{ display: none; }
.home-jobs .rss-item-pubDate-date{ display: block; line-height: 22px; }
.home-jobs .rss-item-pubDate-month{ display: block; text-transform: uppercase;}
.home-jobs .date{ position: absolute;; width: 110px; height: 110px; background: #fff; border-radius: 100%; font-size: 22px; color: #df6628; z-index:1;font-family: 'Montserrat', sans-serif; text-align: center;font-weight: bold; padding-top: 28px; left: 12px; top: 9px;
-webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);}
.home-jobs .tile{ padding: 22px 0 0 70px; position: relative; }

.home-jobs .owl-controls{ width: 100%; text-align: center; margin-top: 48px; }
.home-jobs .owl-controls .owl-dot{ display: inline-block; vertical-align: top; margin: 0 8px; }
.home-jobs .owl-controls .owl-dot span{ display: block; width: 15px; height: 15px; background: #df6628; border-radius: 100%; }
.home-jobs .owl-controls .owl-dot.active span{ background: #2c2b7c; }
.jxt-similar-jobs-holder {
    margin-left: -13px;
}

/* Home services */

.crsl-item a {
    text-decoration: none;
    color: #333;
}

.crsl-item a img {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.crsl-item a:hover img,
.crsl-item a:focus img,
.crsl-item a:active img {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.crsl-item a span {
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 14px 0;
    height: 50px;
    display: block;
}

.crsl-item a span:after {
    border-bottom: 4px solid #D3D1D1;
    bottom: 46px;
    content: '';
    left: 25%;
    right: 25%;
    position: absolute;
    width: 50%;
}

.crsl-item a:hover span:before, .crsl-item a:focus span:before {
    border-bottom: 4px solid #D3D1D1;
    bottom: 0;
    content: '';
    left: 25%;
    right: 25%;
    position: absolute;
    width: 50%;
}

.crsl-nav a {
    position: absolute;
    bottom: 50%;
    color: #666;
    border: 1px solid #666;
    border-radius: 2em;
    width: 35px;
    height: 34px;
    line-height: 32px;
    text-align: center;
}

.crsl-nav a:hover, .crsl-nav a:focus {
    color: #333;
    border: 1px solid #333;
}

.crsl-nav a.previous {
    left: -35px;
}

.crsl-nav a.next {
    right: -35px;
}

.section-about h2 {
    position: absolute;
    margin-top: 2.2em;
    z-index: 1;
}

.section-about h3 {
    color: #f8f8f8;
    font-size: 90px;
    position: relative;
    bottom: 100%;
    line-height: 0.8em;
}

.h-about h4 {
    font-size: 18px;
    padding-left: 60px;
}

.h-about h4 span {
    font-size: 45px;
    color: #333;
}

.h-about h4 i {
    position: absolute;
    font-size: 45px;
    color: #333;
    margin-left: -60px;
    margin-top: 2px;
}

.double-border {
    border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
}

.single-border {
    border-bottom: 1px solid #e6e6e6;
}

.h-section .row.double-border {
    padding: 32px 0 25px 0;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.h-section .row.single-border {
    padding: 32px 0 25px 0;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}


/* About Us Page (UI Page) */

.cf:after{ content: ""; clear: both; display: table;}

.full-width-container #dynamic-content {
    padding: 0;
}
.full-width-container #dynamic-container {
    width: 100%;
    padding: 0;
}

#dynamic-content p{     font-size: 16px;
     }


.inner-banner{ background-size: cover; display: block; text-align: center; background-repeat: no-repeat; margin-top: 175px; height: 256px; background-image: url(../images/inner-banner.jpg); padding: 0 !important;}
.inner-title{ padding: 9.2% 0; text-align: center; }

.page-title{ text-align: center; padding: 30px 240px 40px 240px; } 
/*.page-title p{ font-size: 14px !important; }*/

.inner-banner p{ color: #fff; font-size: 18px;}

.about-page-title{ padding: 90px 220px 60px; text-align: center; }
.about-page-title h2{ margin-bottom: 12px; }
.about-text p{ font-size: 14px !important; }

.full-width-column{ padding: 0; }
.full-width-column [class*="col-"]{ padding: 0 50px; }
.full-width-column .right-img{ position: absolute; width: 50%; right: 0; top: 0; background-image: url(../images/about-us.jpg); background-size: cover; height: 100%  }

.text-n-img-sec{ background: #2c3942; position: relative; padding: 60px 0;}
.text-n-img-sec h3, .text-n-img-sec p, .text-n-img-sec span{ color: #fff; }

.text-layout{ padding: 80px 0; }
.tab-accordian-sec{ background: #eeeff1; padding: 86px 0 80px; }

.left-text{ padding-left: 100px;}
.right-text{ padding-right: 100px;}

.nav-tabs{ margin-bottom: 20px; border-bottom: 1px solid #99080c; }
.nav-tabs>li{ margin-right: 30px; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover{ background: #99080c; color: #fff; }
.nav-tabs>li>a{ font-size: 20px; padding: 12px 20px; }
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{ border-color: #99080c;}
.readMore-btn{ padding: 13px 27px; border-radius: 5px; background: #2c3942; color: #fff; font-size: 20px; font-family: 'Montserrat', sans-serif; display: inline-block; }
.readMore-btn:hover, .readMore-btn:focus{background: #820d4b; color: #fff;}

.panel-default>.panel-heading{ background: none; }
.panel-title>a.collapsed{ display: block; background: #fff; color: #99080c; font-family: 'Montserrat', sans-serif; border-radius: 7px;}
.panel-title>a{ display: block; padding: 7px 20px; background: #99080c; color: #fff; font-size: 25px; font-family: 'Montserrat', sans-serif;
border: 1px solid #930c10;
 border-top-right-radius: 7px;
border-top-left-radius: 7px; position: relative;
}
.panel-title>a:after{ content: "\f106"; font-family: FontAwesome; font-size: 20px; position: absolute; right: 15px; top: 50%; margin-top: -15px; }
.panel-title>a.collapsed:after{ content: "\f107" !important;}
.panel-body p:first-child{ margin: 0; }
.panel-default>.panel-heading+.panel-collapse>.panel-body { border-top-color: #930c10;}
.panel-default>.panel-heading{ border: 0; border-radius: 0; padding: 0;}
.panel-group .panel{ border-radius: 0; background: none; }
header.collapse.in{ background: #2c2b7c; }
.panel-group .panel+.panel{ border: 0; }

/* Home consultant tabs */

#h-consult-tab-con .list-inline>li {
    padding: 0;
    margin-right: -16px;
    margin-left: 12px;
}

#h-consult-tab-con .list-inline li a {
    display: block;
    background: #333;
    position: relative;
}

#h-consult-tab-con .list-inline li a i {
    position: absolute;
    top: 36%;
    left: 37%;
    font-size: 20px;
    border: 1px solid;
    width: 40px;
    line-height: 39px;
    text-align: center;
    border-radius: 2em;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#h-consult-tab-con .list-inline li a:hover img, #h-consult-tab-con .list-inline li a:focus img {
    opacity: 0.2;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#h-consult-tab-con .list-inline li a:hover i, #h-consult-tab-con .list-inline li a:focus i {
    opacity: 1;
}

.h-section .tab-pane .row {
    padding: 0;
}

.h-section .row.section-cons-tabs {
    padding: 0 0 29px 0;
}

.h-section .row.section-cons-tabs .tab-pane img {
    max-width: 135px;
}

#h-consult-tab.nav-tabs>li>a {
    border: none;
}

#h-consult-tab.nav-tabs {
    border: none;
}

#h-consult-tab.nav>li>a:hover,
#h-consult-tab.nav>li>a:focus {
    background: none;
    color: #333;
}

#h-consult-tab.nav>li>a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 16px;
}

#h-consult-tab.nav-tabs>li.active>a,
#h-consult-tab.nav-tabs>li.active>a:hover,
#h-consult-tab.nav-tabs>li.active>a:focus {
    color: #333;
}


/* Home Job feed */

.jxt-news-item-title{ float: none; }

.section-jobfeed {
    background: url(../images/bg-h-service.jpg) 50% 50% no-repeat fixed;
    background-size: cover;
}

#myJobsList,
#myJobsList ul,
#myJobsList .jcarousel-clip {
    overflow: hidden;
    margin: 0;
    list-style: none;
    font-size: 14px;
}

#myJobsList li {
    display: block;
    overflow: hidden;
    margin: 0 30px 0 0;
    width: 450px;
    float: left;
    position: relative;
    min-height: 90px;
}

#myJobsList .rss-item-pubDate {
    display: block;
    float: left;
    width: 89px;
    height: 89px;
    padding: 21px 20px 21px 23px;
    margin: 1px 0 0;
    border: solid 1px #D3D1D1;
    color: #333;
    line-height: 1;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
}

#myJobsList .rss-item-title {
    display: block;
    padding: 30px 0 0 110px;
}

#myJobsList .rss-item-title a {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}

#myJobsList .rss-item-description {
    display: block;
    padding: 0 0 0 110px;
    color: #6a6a6a;
    font-size: 14px;
}

.xmlLocation {
    position: absolute;
    top: 0;
    color: #333;
    left: 110px;
}

.xmlBoldTitle {
    position: absolute;
    left: 15px;
}

.xmlLocation:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f041";
    position: relative;
    text-decoration: inherit;
    margin-right: 6px;
    left: 2px;
}

.simply-scroll-container {
    position: relative;
}

.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}

.simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Dynamic page styles */


/* Left */

#prefix_left-navigation, #prefix_left-navigation-static{}

.left-hidden {
    display: none;
}

#dynamic-content {}

.dynamic-content-holder {}

.dynamic-content-holder h1 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 40px;
}

/*.dynamic-content-holder h1::first-letter {
    color: #ccc;
}*/

/*.dynamic-content-holder h2 {
    text-transform: uppercase;
}
*/

/* Meet the team */

.r17_team-member-page .staff-holder {
    margin: 8px 15px;
    overflow: hidden;
    border-top: 1px dotted #ccc;
    padding: 40px 0 0 0;
}

.r17_team-member-page .staff-holder #site-social {
    margin-top: 10px;
}

.r17_team-member-page .staff-holder img {
    border-radius: 20em;
    border: 10px solid #EEE;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);

}

.r17_team-member-page .staff-holder h2 {
    font-size: 32px;
    margin: 35px 0;
}

.r17_team-member-page .staff-holder h2 span {
    font-size: 24px;
    color: #929292;
}


/* Page Service */

.page-service .service-holder {
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px 20px 5px 20px;
}

.page-service .service-holder img {
    width: 100%;
}

.page-service .service-holder h4 {
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 13px;
    border-bottom: 1px solid #E2E2E2;
}

.page-service .service-holder p {
    margin-bottom: 15px;
}

.page-service .service-holder i {
    font-size: 65px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 10em;
    background: #F9F9F9;
    padding: 18px 22px;
}


/* Contact */

.contact-margin{
        margin-top: 35px;
}

#contact-map {
    position: relative;
    background-color: #f2f2f2;
    margin-top: 6px;
}

.r27_map-overlay {
    background-color: rgba(51, 51, 51, 0.2);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}


/* Addtional */

.in-section .h-about .col-sm-6 {
    padding-bottom: 1em;
    padding-top: 1em;
}

.navigation {
    border-radius: 6px;
    background: #2c2b7c;
    border: none;
    color: #fff;
    width: 100%;
    padding: 10px;
    display: none;
}


/* System Page Styles */

#content {}

.content-holder {}

.content-holder h1 {
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 40px;
    clear: both;
}

.jxt-news-rss{ margin-bottom: 20px; }
.jxt-has-image .jxt-news-item-title a{ color: #820d4b; font-size: 24px; }
.jxt-has-image .jxt-news-item-title a:hover,.jxt-has-image .jxt-news-item-title a:focus{ color: #2c3942; }


/* .content-holder h1::first-letter {
    color: #ccc;
} */


/* Forms Styles */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="submit"] {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #cccccc;
}

input[type="submit"] {}

input[type="text"],
input[type="password"],
input[type="email"] {}

input[type="image"] {}

.form-control:focus {
    border-color: #888;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#CV-content-holder .input-append {
    margin: 15px 0 0 0;
}


/* Extra - Buttons */

.btn {
    text-transform: uppercase;
    text-shadow: none;
}

.btn-primary {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    border-radius: 2em;
    border-width: 2px;
    padding: 8px 35px;
    border-color: #820d4b;
    text-decoration: none;
}

.btn-primary:hover,
.btn-primary:focus {
    border-color: transparent;
    background-color: #2c3942;
}

.btn-default {
    border-color: #2c3942 !important;
}

.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.btn-default:hover,
.btn-default:focus {}

.btn-sm,
.btn-group-sm > .btn {
    /* padding: 5px 15px; */
    font-size: 12px;
    line-height: 1.5;
}

.nav .caret,
.nav a:hover .caret, .nav a:focus .caret{
        border-top-color: #2c2b7c;
    border-bottom-color: #333;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #44c8f5;
}
#memberProfileLinks a:hover, #memberProfileLinks a:focus {
    background-color: #44c8f5;
    color: #fff;
}

#CV-content {
    margin-left: 15px;
    margin-right: 15px;
}

ul#memberProfileLinks ul.dropdown-menu {
    right: 0;
    left: auto;
        background-color: #2c2b7c;
}

#memberProfileLinks > li {
    background: #2c2b7c;
    border-radius: 8px;
    height: 49px;
    padding: 5px 0px;
}
#memberProfileLinks a{
    color: #fff;
}

ul.site-login {
    float: right;
    margin-top: 6px;
}

li#memberStatusDashLogin,
li#memberStatusDashRegister {
    display: inline-block;
}
li#memberStatusDashRegister{ border-left: 1px solid #fff;}


/*


System Responsive


/* 
Heading Font Family
font-family: 'Open Sans', sans-serif;

Body Font Family
font-family: Arial,sans-serif

Theme color (Header, Button, Link)
#333  *Orange*
#333  *Dark Grey*
 */

 /*  TABLE OF CONTENTS
------------------------------

1. News page
2. Search Results / Job Board page
3. Job Detail / View Job page
4. Member pages
5. Advertiser pages
6. Link and Button styles
7. Side bar styles
8. Responsive Media Queries 

*/

/* 1. News page
-------------------------------------------------- */

ul#side-drop-menu li#AdvancedSearchFilter_PnlCompany {display:none;}
#AdvancedSearchFilter_PnlSalaryBands div span { position: absolute; left: 0; top: 0; }
#wrapper #AdvancedSearchFilter_PnlSalaryFilter li { display: inline; }
#wrapper #AdvancedSearchFilter_PnlSalaryFilter li a { display: inline; margin: 0 10px 0 0; border: 0; }

.newsIndex br, 
.news-individual-container-header, 
.news-share-title, 
.news-social {
    display: none;
}
.newsIndex .search-options {
    float: right;
    margin: -3.4em 0 1em 0;
}
.news-individual-container {
    border-bottom: solid 1px #DCDCDC;
    clear: both;
    margin: 1em 0;
}
.news-excerpt p a:last-child {
    display: block;
    margin: 1em 0;
}
.news-excerpt a
{
    text-decoration: none;
}







/* 2. Search Results / Job Board page
-------------------------------------------------- */

#jobsearch-top .num-results {
    margin: 0 0 1em 0;
}
#jobsearch-top .searchresult-number {
    color:#333;
    font-weight: bold;
}
.job-navbtns .button {  
    -moz-boz-sizing: border-box;
    boz-sizing: border-box;
    float: left;
       margin: 0 -5px 1em 0;
}

.job-navbtns .button a, .search-options .button a {padding: 5px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: #2c2b7c;
    height: 49px;
    border-radius: 8px;
    line-height: 3;}

.job-navbtns .actions-button, .job-navbtns .filters-button {display:none;}
.job-navbtns .button a{
    padding: 5px 31px!important;
}

input#ctl00_ContentPlaceHolderLeftNav_ucJobSearchFilter1_btnSalaryRefine {
    margin-left: -14px;
}
/* Job Holder */
#job-holder, .job-holder{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    -webkit-transition: 0.2s linear;
    -o-transition:0.2s linear;
    transition:0.2s linear;
    clear: both;
    border:solid 1px #D5D5D5;
    background:#FAFAFA;
    margin: 0 0 1em 0;  
    padding:0.8em 1em;
    width: 100%;
    border-radius:5px;
}
#job-holder:hover, .job-holder:hover, #job-holder:focus, .job-holder:focus {
    -webkit-box-shadow: 1px 1px 6px #C1BAC1;
            box-shadow: 1px 1px 6px #C1BAC1;
    background:#fff;
}
#job-holder a {
    color:#666666; 
    font-weight:bold;
}
#job-holder a:hover,#job-holder a:focus {
    color:#333;
}
#job-holder .job-toplink a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color:#666666; 
    background: transparent;
    display:inline-block; 
    font-family:'Open Sans', Arial, sans-serif;
    font-size:1.2em; 
    font-weight: 600; 
    line-height:1.3em; 
}
#job-holder:hover .job-toplink a, #job-holder:focus .job-toplink a { 
    color:#000;
}
.job-toplink {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    padding: 0 5% 0 0;
    width: 80%; width:400px;
}
.job-toplink a
{
    font-size: 24px;
    text-decoration: none;
        color: #2c2b7c;
}
.job-toplink .nameofcompany{
    display: none;  
    font-size: small;
}
.job-rightlinks {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: right;   
    font-size: small;
    text-align: right;
    width: 20%;
    width:150px;
}
.job-rightlinks a
{
    text-decoration: none;
}
.description-holder .locandsalary {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size:13px;
    overflow: hidden;
}
.description-holder .locandsalary span {
    display: block;
    margin: 0;
}
.description-holder {
    clear: both;
    display:inline-block;
    margin:0.4em 0;
    overflow:hidden;
    width:100%;
}

.description-holder .description-logo {display:none;}
    
.description-holder ul, 
.description-holder p {
    margin-top: 0;
    margin-bottom: 0;
}
.job-breadcrumbs {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    clear: both;    
    font-size: small;
}
.job-breadcrumbs a
{
    text-decoration: none;
}

.description-holder .job-checkbox {
    float: right;   
    text-align: right;
    width: 5%;
}
.description-holder .job-checkbox input[type-checkbox] {
    max-width: 100%;
}
.description-holder .locandsalary {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    padding: 0 5% 0 0;
    width: 35%;
}
.description-holder .description-text {
    float: left;
    font-size:13px;
    width: 60%;
}

#tnt_pagination a {
    border: solid 1px #BEBEBE;
    cursor: pointer;
    display: inline-block;
    font-size: small;   margin: 0 0.5em 0 0;
    padding: 0.5em 0.5em;
    text-align: center;
}








/* 3. Job Detail / View Job page
-------------------------------------------------- */

/* job ad template/ breadcrumb */
.jobdetail-top .job-detailtop-title, 
#wrapper #job-ad-template {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin: 0 0 1em 0;
    width: 65%; 
}
.job-detailtop-title a
{
    text-decoration: none;
}

.jobdetail-top {
    margin: 0 0 1em 0;  
    overflow: hidden;
    width:100%;
}

/* back to results / options list */
.jobdetail-top .backtoresults, 
.job-detail-centre, 
.jd-btm-description {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    float: right;
    width: 35%; 
}
.jobdetail-top .backtoresults a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    text-align: center;
    width: 100%;
}
.job-detail-centre .jobdetail-padding, 
.jobdetail-top .backtoresults {
    padding-right: 0;
}
.job-detail-centre h2 {
    font: inherit;
    margin: 15px 0 0;
}



.job-detail-centre .jobdetail-options ul, 
.job-detail-centre .jobdetail-options li {
    background: none;
    list-style: none;
    padding: 0;
    margin: 0;  
}
.job-detail-centre .jobdetail-options li {
    display: block;
    padding: 0;
    margin: 0;
}
.job-detail-centre .jobdetail-options a {
    color:#666;
    display: block;
    background-repeat: no-repeat;
    background-size: auto cover;
    background-position: left center;
    font-size: small;
    line-height:26px;
    text-decoration: none;
    padding: 0.5em 0 0.5em 2.7em;
}

.job-detail-centre a { position:relative;}

.job-detail-centre a:before {
    color:#2c2b7c;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size:20px;
    left: -6px;
    position: absolute;
    text-decoration: inherit;
    text-indent: 0.5em;
    top: 7px;
}
.job-detail-centre .save-image a:before {content: "\f0c7"; left:-5px;}
.job-detail-centre .print-image a:before {content: "\f02f";}
.job-detail-centre .email-image a:before {content: "\f0e0";}
.job-detail-centre .facebook-image a:before {content: "\f09a"; color:#395692; left:4px;}
.job-detail-centre .twitter-image a:before {content: "\f099"; color:#3299D4;}
.job-detail-centre .linked-in-image a:before {content: "\f0e1"; color:#085C88;}

.jobdetail-options ul .googleplus-in-image, 
#jobdetail-social-media .googleplus-in-image
{
    background: transparent;
}
.job-detail-centre .googleplus-in-image a:before {content: ""; left: -8px; color:#D51B1C;}

.jobdetail-padding, 
.backtoresults {
    padding-left:40px;
}
.jd-btm-description {
    clear: both;
    float: none;
}
.jd-btm-description .jobdetail-padding {
    padding-left: 0;
}
/* Apply Now button */
.apply-now-link {margin-bottom:20px;}
.apply-now-link a {
    background: #2c2b7c;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    border-color: #2c2b7c;
        padding: 10px 59px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    margin-left: -1px;
}
.apply-now-link a:hover, .apply-now-link a:focus {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #44c8f5;
    border-color: #44c8f5;
}

.jobdetail-top .backtoresults a{
       background-color: #2c2b7c;
    border-radius: 8px!important;
    padding: 12px 33px;
    margin-left: -2px;
}



#ef-yourfriendname-field input,
#ef-yourfriendemail-field input,
#ef-messageforyourfriend-field textarea {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}




/* 4. Member pages
-------------------------------------------------- */

#box-table {
    clear: both;
    max-width: 100%;
    margin: 1em 0;  
    white-space: nowrap;
}
#box-table th {
    background: #252525;
    color: #FFFFFF; 
    font-weight: bold;
    padding: 0.5em;
}
#box-table tr td {
    background: #F6F6F6;
    padding: 0.5em;
    color:#333;
}
/* responsive tables */ 
.box-table-responsive {
    clear: both;
    margin: 1em 0;      
    overflow-x: scroll;
    position: relative;
    width: 100%;
}
.box-table-responsive #box-table tr td:first-child, 
.box-table-responsive #box-table tr th:first-child {
    
}








/* 5. Advertiser pages
-------------------------------------------------- */

#content ul.tabs {
    display: none;
}
#content ul.tabs li {
    background: transparent;
    border: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}








/* 6. Link and Button styles
-------------------------------------------------- */
.buttonHolder{ margin: 20px 0 0 -11px   ; }
#ContentPlaceHolder1_pnlFullRegistration {
    display: none;
}

.breadcrumbs, 
#jobBreadCrumb {
    margin: 0 0 1em 0;
    display:none;    
}

.button a, 
.mini-new-buttons, 
.jobdetail-top .backtoresults a {
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
cursor: pointer;
display: inline-block;
-webkit-box-shadow: none !important;
        box-shadow: none !important;
border: 0 !important;
text-decoration:none;
        border-radius: 2em;
}
.backtoresults a{ width: auto !important; }
.button a:hover, 
.mini-new-buttons:hover, 
.jobdetail-top .backtoresults a:hover,.button a:focus, 
.mini-new-buttons:focus, 
.jobdetail-top .backtoresults a:focus {color: #fff !important;background-color: #44c8f5;border-color: #44c8f5;}
input.mini-new-buttons {-webkit-appearance:none;background-color: #2c2b7c;
    border-radius: 8px;
    line-height: 1.33!important;
    padding: 11px 41px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 49px!important;
    font-family: "Montserrat", sans-serif;
}

/* 7. Side bar styles
-------------------------------------------------- */

/* Left */
#prefix_left-navigation ul, #prefix_left-navigation li #prefix_left-navigation-static ul, #prefix_left-navigation-static li{list-style:none;}
#prefix_left-navigation ul li a, #prefix_left-navigation-static ul li a{font-size:15px; text-decoration: none; display:block; padding:10px 0; color:#58595B; position:relative; border-top: 1px solid #E8E8E8; text-indent:5px;}
#prefix_left-navigation > ul > li.active > a, #prefix_left-navigation > ul > li > ul > li.active > a, #prefix_left-navigation-static > ul > li.active > a, #prefix_left-navigation-static  > ul > li > ul > li.active > a{ color: #2c2b7c; }
#prefix_left-navigation ul li ul li a:hover, #prefix_left-navigation-static ul li ul li a:hover, #prefix_left-navigation ul li ul li a:focus, #prefix_left-navigation-static ul li ul li a:focus {color:#44c8f5;}
#prefix_left-navigation ul, #prefix_left-navigation-static ul{padding:0; margin:0;}
#prefix_left-navigation ul li ul li a, #prefix_left-navigation-static ul li ul li a{color:#B1B1B1;}
#prefix_left-navigation ul li ul li ul li a, #prefix_left-navigation-static ul li ul li ul li a {padding-left:15px}

.side-left-header {
    display: none;
}
.links-2 ul, 
#side-drop-menu,
#side-drop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.links-2 {}
#side-drop-menu {
    margin-bottom: 2em;
    margin-top: 2em;
}
.links-2 li, 
#side-drop-menu li {
    display: block;
    margin: 0;
    padding: 0;
}
.search-query p,
.links-2 a, 
#side-drop-menu a {
    display: block;
    margin: 0;
    padding: 10px 5px;
    border-top: 1px solid #E8E8E8;
    text-decoration: none;
}

#side-drop-menu a {
    color: #2c2b7c;
}

.links-2 ul li ul li a, 
#side-drop-menu ul li a  {
    color: #B1B1B1;
}

.links-2 a:hover, 
#side-drop-menu a:hover, .links-2 a:focus, 
#side-drop-menu a:focus  {
    text-decoration: none;
} 

#side-drop-menu ul li a {}
.search-query {
    /* search result filter box */
    margin: 0 0 0 0;
}
.search-query > h3 {
    display: none;
}
.red-remove {   
    color:#F60;
    float: right;
}
.red-remove a {
    color: #F60;
    display:inline-block;
}
.red-remove:hover, 
.red-remove:hover a, .red-remove:focus, 
.red-remove:focus a {
    color: #F60;
}

.login-status {padding:0 5px;}









/* 7. Form styles
-------------------------------------------------- */

.form-all, 
.uniForm, 
#advanced_search-holder {
    clear: both;
    padding: 0;
}

.uniForm input, .form-all input, 
.uniForm select, .form-all select, 
.uniForm textarea, .form-all textarea, 
#advanced_search-holder input, 
#advanced_search-holder select  {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1em;
        height: 52px;
}
label em, 
.form-required {
    color: #F60;
    padding: 0 0.5em;
}
.uniForm ul, 
.uniForm li, 
.form-section, 
.form-section li {
    background: transparent;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;  
}
.formHint {
    margin: 0;
}
.formHint span {
    margin: 0 0 1em 0;
}
.MemberFullRegisterHeader {
    cursor: pointer;
}

/* double column */
#search-salary ul li, 
#search-salary #divSalaryFrom {
    float: left;
    width: 45%;
}
#search-salary ul li:last-child, 
#search-salary #divSalaryTo {
    float: right;
    width: 45%;
}
#search-salary ul li:first-child {
    float: none;
    width: 100%;
    margin: 0;
}
#search-worktype {
    clear: both;
}
#search-salary {overflow:hidden;}
#divTo {
    float: left;
    width: 10%; 
    text-align: center;
    line-height: 45px;
    padding-left: 12px;
}
#ctl00_ContentPlaceHolder1_ucMemberEdit1_upDateOfBirth {overflow:hidden;}

/* triple column */ 
#ucmemberedit-date-of-birth .form-sub-label-container {
    float: left;
    padding-right: 5%;      
    text-indent: -5000em;
    width: 35%;
}
.Member-nojob-alerts {margin-top:15px;}
.form-sub-label-container .span-dash{display:none;}
#ucmemberedit-date-of-birth .form-sub-label-container select {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.form-sub-label-container .form-sub-label {display:none;}
#ucmemberedit-date-of-birth .form-sub-label-container:last-child {
    float: right;
    padding-right: 0;
    width: 30%;
}   
#jobs-salaryfromto-field .form-input {
    text-align: center;
}
#jobs-salaryfromto-field select {
    float: left;
    width: 40%;
}
#jobs-salaryfromto-field select:last-child  {
    float: right;
    margin-right: 0;
}
#Li2 {
    clear: both;
}
.form-input table {
    width: 100%;
}
.form-input table tr td {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 1em;
    width: 50%;
}
.form-input table tr td:last-child {
    padding-right: 0;
    padding-left: 1em;
}
.cke {
    max-width: 100%;
}

.form-buttons-wrapper, 
.member-submitbottom, 
.advertiser-searchbottom {
       margin: 1em -11px;
}
#Li1 .form-input, 
#ucmembersearchcriteria-avail-date .form-sub-label-container {
    position: relative;
}
#Li1 input, 
#ucmembersearchcriteria-avail-date input:first-child {
    /*padding-right: 8em;*/
}
#Li1 a, 
#ucmembersearchcriteria-avail-date #ctl00_ContentPlaceHolder1_ucMemberSearchCriteria1_ibFirstApprovedDate {
    position: absolute;
    right: 0.5em;
    top: 0;
}
.form-error-message {   
    background: WhiteSmoke;
    color: #F60;
    padding: 1em;
    margin: 1em 0;
}
.form-radio2 label, 
.form-radio label  {
    margin-right: 1em;
}

.label {
background-color: #FFF;
color: #b3b3b3;
font-size: 0.95em;
padding: 0;
}

.section-heading {
font-size: 1.2em;
display: inline-block;
padding-top: 15px;
}

/* CV builder */
#content-container.newDash #content .content-holder {padding-top:20px;}
#memberProfileLinks .btn.btn-default {border-color: #DADADA;}
#content-container.newDash #content #memberProfileLinks {top:-1em;}
#memberProfileLinks li .divider {background-color: #2c2b7c; display: none}
#memberProfileLinks {right:0; top:-1em;}
#CV-content-holder {padding-top:1em;}


div#ctl00_ContentPlaceHolder1_pnlSendEmailAlerts>.ctrlHolder>p {
    display: none;
}
#search-classification .section-heading, #search-locationarea .section-heading {
    display: none;
}

.ctrlHolder label{
        color: #b3b3b3;
    font-size: 14px;
}

#advanced_search-holder #search-salary #divSalaryFrom{
    margin-left: -10px;
    margin-top: 20px;
}

#advanced_search-holder #search-salary #salaryupperband, #advanced_search-holder #search-salary #salarylowerband{
    width: 44%;
}
.right-col.search-button {
    margin-left: -11px;
        margin-top: -20px;
}

.left-col {
        color: #b3b3b3;
    font-size: 14px;
    font-weight: bold;
}

.profile-completion-info .status-yes .fa, .profile-completion-info .jxt_dash-statusInfo .fa {
    background: #2c2b7c;
}

#box-table-saved th {
    height: 46px;
}
#CV-content .btn-primary {
    color: #fff;
    border: 1px solid #2c2b7c;
    background-color: #2c2b7c;
    border-radius: 8px;
    height: 49px;
    line-height: 1.33;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
        padding: 12px 25px;
}
#box-profile-details .db_section-header h2 {
    color: #fff;
    border-bottom: 1px solid #fff;
}
#box-profile-details .db_section-header {
    background: #2c2b7c;
}

#memberProfileLinks .btn.btn-default {
    background-color: #2c2b7c;
    color: #fff;
        line-height: 1.50;
}

 .profileImageHolder .btnUploadImage{
        line-height: 2.50!important;
    font-size: 13px!important;
 }
.section-header h2 .fa {
    
    color: #2c2b7c;
}

.section-footer a:hover, .section-footer a:focus{
    background-color: transparent;
}

.quick-links span.fa{
    opacity: 1
}

.missing {
    color: #b9b9b9;
    opacity: 1;
}
a#memberProfileDropdown {
    line-height: 1!important;
}
#content #memberProfileLinks a, #content #advertiserDropdownLinks a {
    padding: 8px 10px;
}
#memberProfileLinks li {
    background: #2c2b7c;
}
#content #memberProfileLinks a:hover, #content #advertiserDropdownLinks a:hover, #content #memberProfileLinks a:focus, #content #advertiserDropdownLinks a:focus {
    color: #fff;
}
.btn.btn-sm, .mini-new-buttons.btn-sm, .btn-sm.btn-primary{
    font-size: 18px;
}

.dynamic-content-holder {
    margin-top: 2px;
}

.home-page .navbar .navbar-brand .logo-white{
    display: block!important;
        
}
.home-page .navbar .navbar-brand .logo-blue{
    display: none!important;
       
}
#CV-content .db_section-header h2{
    color: #fff;
}

/* testimonial */
.perc-overlay{
  display: none;
}
.testimonial {
    margin-top: 32px;
}
.testimonial-block {
    margin-bottom: 60px;
}

.testimonial-content {
    background: #ececec;
    color: #7E7E7E;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
        margin-top: -26px;
}

.testimonial-content:before {
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px 6px 0 10px;
    border-color: #ececec transparent transparent transparent;
    bottom: -10px;
    right: 16px;
    content: " ";
}

.testimonial-content p {
    color: #666868;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.55;
    margin-bottom: 0px;
        margin-top: 0px!important;
}

.testimonial h2 {
    display: block;
    text-align: right;
    font-weight: 700;
    color: #2c2b7c;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
        font-size: 24px;
}

.dynamic-content-holder .testimonial-content:hover, .dynamic-content-holder .testimonial-content:focus {
    background: #44c8f5;
}
.testimonial-content:hover:before, .testimonial-content:focus:before {
    border-color: #44c8f5 transparent transparent transparent;
}

.dynamic-content-holder .testimonial-content:hover p, .dynamic-content-holder .testimonial-content:focus p{
    color: #fff;
}


/*For dashboard icon*/

.member-status-home img {
    display: none;
}
.member-status-home::after {
    display: block;
    position: absolute;
    top: 0px;
    left: -22px;
    font-family: FontAwesome;
    content: "\f2bd";
    margin-right: 18px;
}
.member-status-home {
    position: relative;
}

input#ctl00_ContentPlaceHolder1_btnRetrieve{
    /*margin-top: -53px;*/
}

#member-fp-or-field {
    text-align: center;
}

body [action*="forgetpassword"] #side-left {
    display: none;
}

body [action*="forgetpassword"] #content {
    margin-left: 13.666667%;
}

.jxt-salary-type{
    padding-left: 0px;
        margin-bottom: 15px;
}
.jxt-salary-bands{
    padding-left: 0px;
        display: block;
}
.jxt-salary-min, .jxt-salary-max {
    display: block;
    position: relative;
    width: 100%;
}
.jxt-salary-to {
    display: block;
    width: 100%;
        margin: 5px 0px;
}


/* Adjust:
    border colour, 
    horizontal padding (#job-ad-header, #job-ad-content, #job-ad-footer), 
    vertical margin (.job-ad-part), 
    header and footer background images, 
    copy styling for header and anchor tags, generic fonts and line heights.
*/

#job-ad-template *
{
    margin: 0;
    padding: 0;
    border-width: 0;
    
    font: inherit;
    text-align: left;
    outline: 0;
}
#job-ad-template
{
    overflow: hidden;
    float: left;
    width: 458px;
    border: solid 1px #F2F2F2; /* border colour here */
    
    border-radius: 0;
    /* generic font styling here */
    font-size: 14px;
    line-height: 1.5;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #333;
}
#job-ad-template.job-ad-mickey
{
    width: 536px;
}
#job-ad-template a
{
    text-decoration: underline;
    color: #333;
}
#job-ad-template a:hover, 
#job-ad-template a:focus, 
#job-ad-template a:active
{
    text-decoration: none;
    color: #333;
}
#job-ad-template p
{
    margin: 0 0 1.5em 0;
}
#job-ad-template ul
{
    padding: 0 0 0 18px;
    margin: 0 0 1.5em 0;

    list-style: disc;
}
#job-ad-template ol
{
    padding: 0 0 0 24px;
    margin: 0 0 1.5em 0;
}
#job-ad-template ol li
{
    padding: 0;
    margin: 0;
}
#job-ad-template ul li
{
    display: list-item;
    padding: 0;
    margin: 0;
    
    list-style: disc;
}
#job-ad-template li:before
{
    display: none;
}
#job-ad-template #job-ad-content
{
    padding: 1em 1.5em; /* horizontal padding  here*/
}
#job-ad-template .job-ad-part
{
    margin: 1.5em 0; /* vertical margin here */
}
#job-ad-template #job-ad-header
{
    overflow: hidden;
    position: relative;
    padding: 1.5em;

    /*background: url("../images/.jpg") no-repeat 0 0;*/
    background-size: cover;
}
#job-ad-template #job-ad-header:after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    background-color: transparent;
}
#job-ad-template.has-logo-0 #job-advertiser-logo
{
    display: block;
}
#job-ad-template #job-advertiser-logo {
    position: relative;
    z-index: 10;
    float: right;
    width: 210px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: right 50%;
    background-size: auto 100%;
    background-image: url(../images/logo-blue.svg) !important;
}

#job-ad-template #job-ad-title h1
{
    position: relative;
    z-index: 10;

    padding: 0;
    border: 0;
    /* copy and paste styles from h3 here */
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #2c2b7c;
}
#job-ad-template .job-ad-option
{
    display: table-row;
}
#job-ad-template .job-ad-optional-heading, 
#job-ad-template .job-ad-optional-text
{
    display: table-cell;
    vertical-align: top;
}
#job-ad-template .job-ad-optional-heading
{
    padding: 0 1em 0 0;
    font-weight: 700;
}
#job-ad-template .job-ad-optional-text div
{
    display: inline-block;
}
#job-ad-template #job-ad-footer a
{
    display: block;
    padding: 0.5em 0;
    
    text-align: center;
    text-decoration: none;
    background: #F2F2F2;
    color: #333;
}
#job-ad-template #job-ad-footer a:hover, 
#job-ad-template #job-ad-footer a:focus, 
#job-ad-template #job-ad-footer a:active
{
    background: #2c2b7c;
    color: #fff;
}

input#apply {
    margin-left: -1px;
}
.boardy-apply-content .boardy-apply-options .col-sm-offset-3 {
    margin-left: -16px;
}
.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .control-label {
    padding: 0 0px;
}
input#ctl00_ContentPlaceHolder1_btnSignIn {
    margin-left: -1px;
}

.boardy-apply-register .control-label{
        padding-left: 28px;
}

input[type="checkbox"]{
    height: auto;
}
input[type="file"]{
    line-height: initial;
    height: auto;
}
input[type="radio"]{
    height: auto;
    margin-right: 5px;
}
.staff-holder p{
    margin-top: -40px;
}

.job-detail-centre .jobdetail-options li.facebook-image{
        margin-left: -7px;
}
.job-detail-centre .jobdetail-options li.googleplus-in-image{
        margin-left: -2px;
}
.job-detail-centre .jobdetail-options li.twitter-image{
        margin-left: -2px;
}

#jobdetail-interested-in-job ul{
    margin-left: -3px;
}
.area-expertise-list ul li:hover, .area-expertise-list ul li:focus{
    z-index: 99;
}

select::-ms-expand {
    display: none;
}

.jxt-salary-bands .jxt-salary-min input, .jxt-salary-bands .jxt-salary-max input{
    padding-left: 15px;
}

input[type="text"]{
     -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
 appearance: none;
}

.navbar-nav{
    margin-top: 90px;
}
div#ctl00_ContentPlaceHolder1_divGoogleCaptchaVisible {
    display: none;
}
li#member-fp-message-field {
    margin-top: -20px;
}
.form-required p {
    color: #f60;
}
.client-margin{
    margin-bottom: 35px;
}

.about-link{
    color: #44c8f5;
}
.about-link:hover{
    color: #2c2b7c;
}
.expert-margin-top {
    margin-top: 20px;
}

/*Media Queries Start*/

/* 8. Responsive Media Queries-------------------------------------------------- */
@media (min-width: 992px) {
    body {
        
    }
    ul.nav li.dropdown:hover > ul.dropdown-menu, ul.nav li.dropdown:focus > ul.dropdown-menu {
        display: block;
    }
    
    .inner-header .navbar-nav{ margin-top: 35px;}
    
    .navbar-nav {
        
        /*float: right;*/
        margin-left: 25px;
    }
    a#child-menu {
        display: none;
    }
    .navbar .nav>li>.dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 18px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #44c8f5;
        border-left: 6px solid transparent;
        content: '';
    }
}

@media (min-width: 1199px){
    .navbar-nav{
        margin-right: -29px;
    }
}
@media screen and (max-height: 875px) {
    .banner-text {
    bottom: 100px;
}

.banner-inner-wrap {
    /*margin-bottom: 180px;*/
    }
    #widget-search{
margin-top: -250px;
}


}


/* New midea style */

@media screen and (max-height: 800px) {
.navbar-brand{ margin-top: 40px; }
.navbar-nav{ margin-top: 50px; }
/*#widget-search{margin-top: -150px;*/ }



@media screen and (max-height: 700px) {
.navbar-brand{ margin-top: 30px; }
.navbar-nav{ margin-top: 40px; }
/*#widget-search{margin-top: -150px; }*/
.banner-wrapper h1{ margin-bottom: 20px; }
.banner-wrapper .banner-btn { margin-top: 20px;}
}

@media screen and (max-height: 660px) {

    
}
@media (max-width: 1899px){
    .home-jobs .tile-content{
    min-height: 170px;
}
}
@media screen and (max-width: 1600px) {
    .navbar .nav > li > a{
        margin: 0 7px;
    }
    .navbar-nav {
    margin-right: -15px;
}

}

@media screen and (max-width: 1500px) {
    
    .navbar .nav > li > a{ padding: 0 6px;}
    .phoneTop{ padding: 0 70px;}
    .navbar-wrapper{ padding: 0 70px;}
    .home-news{ padding: 80px 70px;}
    .home-jobs{ padding: 90px 70px 100px;}
    
    .home-news .owl-controls{ width: 106%; left: -3%;}
    .footer-top h2{
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 40px;
    }

    .footer-top h3{
        font-size: 30px;
        line-height: 34px;
    }
    .banner-text {
    left: 95px;
}
}


@media screen and (max-width: 1299px) {
    #home-white-paper{ padding:0 45px; }
    .navbar-brand{
        width: 243px;
    }
    .expertise-text h2, .expertise-text .title {
    font-size: 30px;
    line-height: 30px;}
}
@media (max-width: 1260px) {
    .crsl-nav a {
        bottom: 105%;
    }
    .crsl-nav a.previous {
        left: 20px;
    }
    .crsl-nav a.next {
        right: 20px;
    }
    
}


@media screen and (max-width: 1199px) {
    
    .phoneTop{ padding-left: 0; padding-right: 0;}
    .navbar-wrapper{ padding-left: 0; padding-right: 0;}
    .home-news{ padding-left: 0; padding-right: 0;}
    .home-jobs{ padding-left: 0; padding-right: 0;}

h1 { font-size: 35px; line-height: 1.2;}
h2{ font-size: 25px; }
h3{ font-size: 22px; }

h3 span{ font-size: 17px; }

    .navbar-brand{ margin-top: 40px; width: 210px; }
    .navbar .nav > li > a{ margin: 0 6px;}
    .navbar-nav{ margin-top: 50px; }
    .home-sec {  padding: 100px 0 50px;}
    .banner-wrapper h1{ font-size: 32px; line-height: 34px; }
    .home-news .title h2, .home-jobs .title h2, .welcome-text h2, .expertise-text h2{ font-size: 30px; line-height: 35px; }
    .welcome-text { padding: 0 200px; margin-bottom: 40px;}
    .home-news { padding: 50px 0;}
    .home-news p{ font-size: 14px; }
    .home-news .title{ margin-bottom: 40px; padding: 0 20px;}
    .home-jobs .title{margin-bottom: 20px; padding: 0 20px;}
    .home-jobs {padding: 40px 40px 40px 20px;}
    .footer-top {padding: 40px 0;}

    .inner-title { padding: 10% 0;}    
    
    .page-title { padding: 30px 170px 10px;}
    .text-layout {  padding: 50px 0;}
    .full-width-column .right-img{ background-position: center; }
    .tab-accordian-sec {  padding: 50px 0 40px;}
    .panel-title>a{ font-size: 20px; }
    .nav-tabs>li { margin-right: 10px;}
    .readMore-btn{ font-size: 16px; padding:10px 25px;  }
    
    .full-width-column [class*="col-"] {   padding: 0 30px;}

    .about-page-title{ padding: 50px 100px; }

    .footer-top h2{ font-size: 50px; margin-bottom: 30px; line-height: 52px; }
    .footer-top h3 { font-size: 25px; line-height: 28px; margin-bottom: 20px;}
    #divTo{width: 9%}
    .expertise-text .title {
    font-size: 25px;
    line-height: 26px;
}
.area-expertise-list ul li a:hover .expertise-text .title, .area-expertise-list ul li a:focus .expertise-text .title{
        margin-bottom: 7px;
              font-size: 25px;
    line-height: 26px;
}


   
    .mac-os .navbar-nav>li>.dropdown-menu{
        margin-top: 12px;
    }
    .newDash .form-section{
    min-height: 257px;
  }
  .banner-text{
    width: 60%;
  }
  .banner-text {
    left: 19px;
        bottom: 150px;
}
}
@media screen and (max-width: 1024px) {

h1 { font-size: 34px;}
h2{ font-size: 22px; }
h3{ font-size: 20px; }

    #home-job-paper{ padding: 0 20px; }
    .banner-wrapper h1{ font-size: 30px; line-height: 32px; }
    .top-contact a{ margin: 10px 10px 10px 0px; }
    .phoneTop a{ font-size: 13px; }
    #site-social li{ margin-top: 6px; }
    .banner-wrapper p{ padding: 0; }
    .navbar-brand{ margin-top: 30px; }

    .nav-tabs>li>a {font-size: 16px; padding: 10px 20px;}

    .about-page-title{ padding: 50px 50px; }
    .left-text{ padding-left: 0px;}
    .right-text{ padding-right: 0px;}
    .navbar-nav {
    margin-top: 39px!important;
}
.navbar-nav>li>.dropdown-menu{
    margin-top: 8px;
}
}

@media screen and (max-width: 991px) {

.navbar-nav{ margin-top: 0px; }
.navbar-brand{ margin-bottom: 20px; }
.area-expertise-list ul li a:after{ width: 170%; height: 170%; left: -70%; top: -70%; }
.expertise-text{ padding: 0 30px; }
.welcome-text { padding: 0; margin-bottom: 30px;}
.home-news { padding: 40px 0;}
.home-news .title h2, .home-jobs .title h2, .welcome-text h2, .expertise-text h2 { font-size: 25px; line-height: 30px;}
.home-jobs{ padding: 30px 30px 30px 10px;}
.footer-top { padding: 30px 0;}
.banner-wrapper h1 { font-size: 28px; line-height: 30px;}
.footer-top h2 { font-size: 40px; margin-bottom: 20px; line-height: 45px;}
.footer-top h3 { font-size: 20px; line-height: 25px;}
.footer-top p a{ font-size: 18px; }
#site-social-footer li{ margin-top: 0px; }
.inner-banner {  margin-top: 120px;}

    .home-news .owl-controls{ width: 110%; left: -5%;}
.about-page-title{ padding: 30px 20px; }
.banner-inner-wrap {
    margin-bottom:295px;
    width: 100%;
}
.area-expertise-list ul li a:hover .hide-text, .area-expertise-list ul li a:hover .hide-text p {
    font-size: 13px;
}

.inner-title {
    padding: 14% 0;
}
#divTo {
    width: 8%;
}
.testimonial h2{
    font-size: 18px;
}
.area-expertise-list ul li a:hover .expertise-text .title, .area-expertise-list ul li a:focus .expertise-text .title  {
    margin-bottom: 0px;
    font-size: 18px;
}
#widget-search {
        margin-left: 60px;
    margin-right: 0px;
}

/*overwrite boostrap class for profile page*/
    .navbar-nav {
        float: none;
        margin-top: 0;     background: #fff; padding: 20px 0; margin: 0;
    }
    .navbar .nav > li > a{ font-size: 17px;     color: #2c2b7c; font-weight: 600;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

    .navbar-nav>li {
        float: none;
            margin-bottom: 8px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        color: #fff;
        font-size: 17px;
        padding: 4px 14px;
        margin: 26px 4px 0 0;
        border-radius: 6px;
        background: #2c2b7c;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav li.dropdown li a{ font-size: 16px;     color: #2c2b7c;padding: 2px 20px; }
    .navbar-wrapper {
        border-top: none;
    }
    .navbar-collapse {
        max-height: 700px;
        padding: 0;
    }
    #site-topnav .nav a {
        border: none;
        text-align: center;
        outline: none !important;
    }

    .navbar {
        margin-bottom: 0;
    }
    .navbar .nav li.dropdown li a:hover,.navbar .nav li.dropdown li a:focus,
    .navbar .nav li.dropdown li.active a {
        background-color: transparent;
        color: #44c8f5;
            font-size: 16px;
    }
    a#child-menu {
        display: inline;
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        padding-left: 40px;
        padding-right: 40px;
        background-color: transparent;
    }
     
    ul#site-social {
        margin-right: 0px;
    }

    /*

    System Responsive

    */
    .breadcrumbs, 
    #tnt_pagination a, 
    .apply-now-image2 {
        display: none;
    }
    
    #tnt_pagination .search-previous-button {
        display: inline-block;
        float: left;
        margin: 0;
        width: 40%;
    }
    #tnt_pagination .search-next-button {
        display: inline-block;
        float: right;
        margin-right: 0;
        width: 40%;
    }
    
    .job-toplink, 
    .job-breadcrumbs {
        padding: 0;
        width: 100%;
    }
    .job-toplink a {
        display: block;
        margin: 0 0 0.5em 0;
    }
    .job-rightlinks {
        clear: both;
        float: none;        
        text-align: left;
        width: 100%;
    }
    .job-rightlinks .search-result-save-job-link, 
    .job-rightlinks .search-result-links-separator, 
    .job-rightlinks .search-result-send-email-link, 
    .job-rightlinks br {
        display: none;
    }
    .description-holder .job-checkbox {
        width: 10%;
    }
    .description-holder .locandsalary {     
        font-size: small;
        overflow: hidden;
        margin: 0 0 1em 0;
        width: 90%;
    }
    .description-holder .locandsalary span  {
        margin: 0 10px 0 0; float:left;
    }
    .description-holder .description-text {
        width: 100%;
    }
    .description-holder .job-checkbox {
        float: right;       
        text-align: right;
    }
    
    #wrapper #job-ad-template {
        width: 100%;
    }
    .job-detail-centre {
        clear: both;
        float: none;        
        padding: 1em 0;
        width: 100%;
    }
    .job-detail-centre .jobdetail-padding {
        padding: 0;
    }
    .job-detail-centre .jobdetail-options h2 {
        display: none;
    }
    .job-detail-centre .jobdetail-options ul {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        float: left;
        margin: 1em 0;
        width: 49%;
    }
    .jobdetail-top .job-detailtop-title, 
    .jobdetail-top .backtoresults {
        float: none;
        padding: 0;
        width: 100%;
    }
    .jobdetail-top .job-detailtop-title {
        margin-bottom: 1em;
    }

    .inner-header .navbar-brand {
    margin-top: 22px;
}
   .banner-sec{height: 855px!important}
   .member-dashboard-content div:nth-child(3) > .form-section{
    min-height: 500px;
  }
.banner-text {
    bottom: 110px;
    position: absolute;
    left: 20px;
    width: 90%;
}
.banner-sec{
    background-position: 77%;
}

}

@media screen and (max-width: 767px) {

h1 { font-size: 30px;}
h2{ font-size: 20px; }
h3{ font-size: 20px; }

    
    .banner-text {     width: 92%;
    left: 16px;
    right: 0px;}
    .top-contact{ text-align: center; }
    #site-social{ float: none !important; text-align: center; padding:5px 0 10px; }
    #site-social li{ padding: 0 10px; }
    #widget-search{ position: relative;
    margin: -20px 0 30px;}
    .btn{ font-size: 16px; }
    .home-sec { padding: 50px 0 40px;}

    .area-expertise-list ul li{ width: 50%; margin: 0 auto; display: block; }
    .area-expertise-list ul li:nth-child(2n+2){ margin: 10px auto; }
    #disclaimer .align-right ul li{ text-align: center; }

    .home-news .title {  margin-bottom: 30px;}

    .page-title { padding: 30px 0px 10px;}
    .text-n-img-sec{ padding: 40px 0 0; }

    .full-width-column [class*="col-"]{ width: 100%; }
    .full-width-column .right-img{ position: static; padding: 20% 0; width: 100%;}

    .tab-accordian-sec { padding: 30px 0 20px;}
    .navigation{ margin: 20px 5% 20px 5%; width: 90%;}

    .inner-banner {
    margin-top: 165px;
}

    .panel-title>a { font-size: 18px;}
    .text-layout {  padding: 30px 0; }    

    .nav-tabs>li>a { font-size: 16px; padding: 10px 15px;}

    .full-width-column [class*="col-"] { padding: 0 20px;}

    .inner-title { padding: 14% 0 6%;}

    .area-expertise-list ul li a:after { width: 180%; height: 180%; left: -60%; top: -32%;}

    #prefix_left-navigation, #prefix_left-navigation-static{ display: none; }


    .home-jobs{ padding: 30px 0px 30px 0px;}
    
    .footer-top h2 { font-size: 30px; line-height: 35px;}
    .footer-top h3 { font-size: 17px; line-height: 20px;}
    .footer-top p a {  font-size: 16px;}
    .footer-top p a:after{margin: 0 10px; font-size: 17px;}
  
.left-hidden {
    display: none!important;
}

p, #dynamic-content p, #dynamic-content li{
    font-size: 15px;
}

#dynamic-container, #content-container, #job-dynamic-container{
    padding-top: 23px;
}
#job-ad-template #job-ad-title h1{
        font-size: 22px;
    }
    .r17_team-member-page .staff-holder {
        padding: 20px;
    }
    .navigation {
        display: block;
    }
    body {
        padding-top: 0;
    }

    .h-section h2 {
        font-size: 30px;
        text-align: center;
    }
    .section-about h2 {
        position: static;
        margin-top: 0;
    }
    .btn-primary {
        font-size: 14px;
    }
    .meet-team .staff-holder {
        padding: 20px 10px;
    }
    ul#site-social {
        margin-right: 0px;
    }

    /*

    System Responsive

    */
    .job-navbtns .button {display:none;}

    .job-navbtns .button.actions-button, 
    .job-navbtns .button.filters-button {
        display:block;
    }
    
    .job-breadcrumbs, 
    .job-detail-centre .jobdetail-options .print-image, 
    .jobdetail-top .job-detailtop-title {
        display: none;
    }
    .job-detail-centre .jobdetail-options ul {
        float: none;        
        overflow: hidden;
        width: 100%;
    }
    .job-detail-centre a::before
    {
        top: 13px;
    }
    #widget-search .widget-home {
    padding: 0 22px!important;
}

.area-expertise-list ul li:nth-child(1) {
        margin: 0 auto;
    }
    .testimonial-content{
        margin-top: -26px;
    }
    .banner-sec{height: 515px!important}
      .banner-inner-wrap {
        margin-bottom: -20px!important;
}
#job-ad-template #job-advertiser-logo{
        margin-bottom: 20px;
    background-position: left 50%;
        float: none;
}
.newDash .form-section{
    min-height: 0px;
  }

  #advanced_search-holder #search-salary #salaryupperband, #advanced_search-holder #search-salary #salarylowerband {
    width: 42%;
}
#divTo {
    width: 72px;
}
.job-navbtns .button {
    margin: 0 14px 1em 0;
}

.expertise-text .title {
    font-size: 30px;
    line-height: 34px;
}
.area-expertise-list ul li a:hover .expertise-text .title, .area-expertise-list ul li a:focus .expertise-text .title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 25px;
}
.area-expertise-list ul li a:hover .hide-text, .area-expertise-list ul li a:hover .hide-text p {
    font-size: 16px;
}
.banner-text {
    bottom: 90px;}
}

@media screen and (max-width: 640px) {

    h1 { font-size: 27px;}

    .banner-sec{ height: auto !important; }
    #widget-search .form-group { margin-bottom: 15px;}
    
    /*.banner-text { padding-top: 36%; padding-bottom: 10%;}*/
    .btn { font-size: 15px; margin: 0 5px;}
    .banner-wrapper h1 { font-size: 25px;  line-height: 28px;  margin-bottom: 20px;}
    .banner-text { padding-top: 0%;  width: 100%; padding-bottom: 0%; margin: 0;    padding: 145px 20px 30px;position: initial;}
    .home-sec { padding: 20px 0 40px;}
    .welcome-text { padding: 0 20px;}
    .home-news .title h2, .home-jobs .title h2, .welcome-text h2, .expertise-text h2 { font-size: 22px;  line-height: 25px;}

.area-expertise-list ul li{ width: 70%; }
.banner-inner-wrap{
    margin-bottom: 10px!important;
    padding-top: 40px;
}

    .hide-text p, .hide-text{
        font-size: 16px;
    }
    .inner-title {
    padding: 18% 0 0%;
}

.area-expertise-list ul li a:hover .expertise-text .title, .area-expertise-list ul li a:focus .expertise-text .title {
   
    margin-top: 20px;
}
#widget-search {
    margin: 12px 0 30px;
}
  #advanced_search-holder #search-salary #salaryupperband, #advanced_search-holder #search-salary #salarylowerband {
    width: 100%;
    padding: 0 14px;
}
#advanced_search-holder #search-salary #divSalaryFrom {
    margin-left: 0px;
}
#divTo {
    width: 100%;
    text-align: left;
    margin: 0!important;
}
.right-col.search-button {
    margin-left: -5px;
        margin-top: -15px;
}

}

@media screen and (max-width: 599px) {
    
    #job-ad-template .job-ad-option
    {
        margin: 0.5em 0;
    }
    #job-ad-template .job-ad-option, 
    #job-ad-template .job-ad-optional-heading, 
    #job-ad-template .job-ad-optional-text, 
    #job-ad-template .job-ad-optional-text div
    {
        display: block;
    }
}


@media screen and (max-width: 480px) {

    .top-contact{ display: none; }
    .navbar-brand{ width: 170px; }
    .area-expertise-list ul li{ width: 95%;}
    .banner-wrapper h1 { font-size: 20px; line-height: 25px;}
    .banner-wrapper p { font-size: 15px; line-height: 20px;}
    .btn { font-size: 14px; margin: 5px 0px; padding: 10px 30px; display: block;}

    .banner-text{margin: 0;}
    #home-white-paper { padding: 0px 30px; }
    .home-news .owl-controls { width: 96%; left: 10px;}
    .home-news .owl-controls .owl-prev{ position: absolute; left: -13%; }
    .home-news .owl-controls .owl-next { position: absolute; right: -8%}
    .footer-top h3 { font-size: 15px;}
    .footer-top p a { font-size: 15px;}
    .footer-top h2 { font-size: 25px; line-height: 28px;}
    #site-social-footer li{ padding: 0 10px; }

    .home-jobs .tile{ padding: 0; }
    .home-jobs .date{ position: static; position: static; display: block; margin: 10px auto; width: 90px; height: 90px; padding-top: 20px; font-size: 20px; line-height: 20px;}
    .home-jobs .tile-content{ padding: 20px; }
    
    .area-expertise-list ul li a:after { width: 160%; height: 160%; left: -56%; top: -56%;}

    .inner-banner {
    margin-top: 125px;
}

    .footer-top h2{ margin-bottom: 10px; }
    .footer-top h3{ margin-bottom: 10px; }
   
.inner-title {
    padding: 24% 0 0%;
}
  
.testimonial h2{
    font-size: 16px;
}  

 #prefix_banner-container {
        display: none;
    }

    #job-ad-template #job-ad-header h2
    {
        margin-bottom: 0.5em;   
    }
    #job-ad-template #job-ad-header h2, 
    #job-ad-template #job-advertiser-logo 
    {
        float: none;
        width: auto;
    }
    .navbar-toggle{
                margin: 22px -2px 0 0;
    }


    #job-ad-template #job-ad-header h2
    {
        margin-bottom: 0.5em;
    }

.area-expertise-list ul li a:hover .expertise-text .title, .area-expertise-list ul li a:focus .expertise-text .title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sec{
    background:none;
}

}
@media screen and (max-width: 380px) {

    .area-expertise-list ul li a:after { width: 160%; height: 160%; left: -60%; top: -60%;}
    .expertise-text h2, .expertise-text .title {
    font-size: 25px!important;
    line-height: 25px!important;
}
.area-expertise-list ul li a:hover .expertise-text .title, .area-expertise-list ul li a:focus .expertise-text .title {
    margin-bottom: 18px;
        font-size: 24px!important;
    line-height: 24px!important;
}
}

