<footer id="prefix_footer-container">
    <section class="footer-top">
        <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                  <h2>Permanser Consulting</h2>
                  <h3>You'll Find Your Best With Permanser</h3>
                  <p>
                     <a href="tel:61396545988" title="Call Us">+613 9654 5988</a>
                     <a href="mailto: admin@permanser.com.au" title="Email Us"> admin@permanser.com.au</a>
                  </p>
                  <ul class="list-inline" id="site-social-footer">
                    <li>
                        <a href="//www.linkedin.com/company/permanser-consulting" target="_blank" title="LinkedIn" rel='noopener'>
                            <em class="fa fa-linkedin"><!-- linkedin --></em>
                        </a>
                    </li>                       
                    <li>
                        <a href="//www.facebook.com/pages/Permanser-Fashion-Textile-Recruitment/221355861209960" target="_blank" title="facebook" rel='noopener'>
                            <em class="fa fa-facebook"><!-- facebook --></em>
                        </a>
                    </li>
                    <li>
                        <a href="//twitter.com/#!/Permanser1" target="_blank" title="Twitter" rel='noopener'>
                            <em class="fa fa-twitter"><!-- twitter --></em>
                        </a>
                    </li>
                </ul>
              </div>
            </div>
        </div>
    </section>
    <div id="disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 hidden-xs">
                    <ul class="list-inline" id="disc-links">
                        <li>
                            <a href="/sitemap.aspx" title="Sitemap">Sitemap</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="/terms-of-use" title="T&C">T&C</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 align-right">
                    <ul>
                        <li>
                            <a href="//www.jxt.com.au" target="_blank" title="Recruitment Website by JXT" rel='noopener'>
                                Recruitment Website by JXT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>