<header id="Top-nav-sticky" class="navbar-fixed-top">
    <div class="phoneTop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                   <div class="top-contact">
                    <a href="tel:+61396545988" title="Call Us"> <em class="fa fa-phone"><!-- --></em> +613 9654 5988</a>
                    <a href="mailto:admin@permanser.com.au" title="Email Us"><i class="fa fa-envelope" aria-hidden="true"></i>admin@permanser.com.au</a>
                  </div>
                                                
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="list-inline pull-right" id="site-social">
                       <li>
                            <a href="//www.linkedin.com/company/permanser-consulting" target="_blank" title="LinkedIn" rel='noopener'>
                                <em class="fa fa-linkedin"><!-- linkedin --></em>
                            </a>
                        </li>
                     <li>
                            <a href="//www.facebook.com/pages/Permanser-Fashion-Textile-Recruitment/221355861209960" target="_blank" title="Facebook" rel='noopener'>
                                <em class="fa fa-facebook"><!-- facebook --></em>
                            </a>
                        </li>
                      <li>
                            <a href="//twitter.com/#!/Permanser1" target="_blank" title="Twitter" rel='noopener'>
                                <em class="fa fa-twitter"><!-- twitter --></em>
                            </a>
                        </li>
                        
                        <!--<li>[[member-status]]</li>
                        <li>|</li>
                        <li><a href="/member/register.aspx" id="HiddenMemLog">Register</a></li>-->
                        [[member-status-dashboard]]
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <div class="navbar" role="navigation" id="site-topnav">             
                <div class="navbar-header"> 
                <a class="navbar-brand" href="/" title="Pemanser Consulting">
                    <img src="/media/permanser2018/images/logo-blue.svg" class="logo-white" alt="Pemanser Consulting" style="display: none;" />
                    <img src="/media/permanser2018/images/logo-blue.svg" class="logo-blue" alt="Pemanser Consulting" style="display: block;" />
                </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                        <span class="sr-only"> Toggle navigation</span> 
                        <em class="fa fa-bars"><!-- --></em> 
                    </button>
                </div>
                <div class="navbar-collapse collapse"> [[top-navbar]] </div>
            </div>
        </div>
    </div>
</header>