<div class="banner-sec" style="background-image: url(/media/permanser2018/images/home-banner.jpg)">
    <div class="banner-wrapper">
        <div class="banner-text">
            <div class="banner-inner-wrap">
                <h1>You'll find your best with Permanser</h1>
                <p>We are a specialist recruitment company servicing the Australian fashion industry: clothing, footwear, textiles, homewares and accessories.  We're known for service excellence, reliability, solid relationships and a strong and stable history servicing this niche industry.</p>
                <div class="banner-btn">
                    <a href="/advancedsearch.aspx?search=1" class="btn" title="VIEW JOBS">VIEW JOBS</a>
                    <a href="/member/createjobalert.aspx" class="btn" title="JOB ALERTS">JOB ALERTS</a>    
                </div>  
            </div> 
        </div>
</div>
</div>
