<div id="prefix_home-container">

    <div class="home-sec">
        <div class="container">
            <div class="row">
                <div class="welcome-text">
                    <h2>AREAS OF EXPERTISE</h2>
                    <p>We recruit for entry-level positions, right through to executive level & work with wholesale & retail companies.  The roles we recruit for span Design & Development, Production, Sales, Brand & Product Management as well as E-Commerce & Digital, Office Support & Supply Chain.  
We are able to cater for all job types, whether Permanent, Temporary, Contact, Freelance, Full-time or Part-time. </p>
                </div>
                
            </div>
        
        <div class="area-expertise-list">
                    <ul>
                        <li >
                            <a href="#" title="Design Jobs" class="expert1" style="background-image: url(/media/permanser2018/images/expertise1.jpg)">
                                <span class="expertise-text">
                                    <span class="title">Design Jobs</span>
                                    <span class="hide-text">
                                       Graphic Designer, Fashion/Textile Designer, Design Assistant, Product Developer, Brand Manager, Creative Director, Design Manager
                                    </span>
                                </span>
                            </a>
                        </li>
                        
                        <li >
                            <a href="#" title="Production & Supply Chain" class="expert2" style="background-image: url(/media/permanser2018/images/expertise2.jpg)">
                                <span class="expertise-text">
                                    <span class="title">Production & Supply Chain</span>
                                    <span class="hide-text">
                                        Sample Machinist, Pattern Maker, Pattern Room Manager, Garment Technician, QA/QC, Fit Model, Production Coordinator, Supply Chain Coordinator, Warehouse Manager
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li >
                            <a href="#" title="Head Office, Digital & Executive" class="expert3" style="background-image: url(/media/permanser2018/images/expertise3.jpg)">
                                <span class="expertise-text">
                                    <span class="title">Head Office, Digital & Executive</span>
                                    <span class="hide-text">
                                        Operations Manager, Planner, Buyer, Visual Merchandiser, Area Manager, Online Sales Manager, Account Manager, Sales Reps, Customer Service, Sales Support
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    
</div>
<!-- <div class="home-news">
    <div class="container-fluid">
        <div class="row">
            <div class="title">
                <h2>LASTEST NEWS</h2>
                            </div>
            <div id="home-white-paper" >
                <div class="owl-carousel"> </div>
            </div>
        </div>
    </div>
</div> -->

<div class="home-jobs">
   <div class="container-fluid">
        <div class="row">
            <div class="title">
                <a href="/advancedsearch.aspx?search=1" title="Latest Jobs"><h2>LATEST JOBS</h2></a>
            </div>
            <div id="home-job-paper" >
                <div class="owl-carousel"> </div>
            </div>
       </div>
    </div>    
</div>
<!--<div class="h-section section-jobfeed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myJobsList">
                    <ul>
                         JS INSERT CONTENT HERE 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->