<div id="prefix_left-navigation">[[dynamic-navigation]]</div>
<div id="prefix_left-navigation-static" class="left-hidden">
    <ul>
        <li><a href="/candidates" class="leftnav-active">Candidates</a>
            <ul>
                <li><a href="/interview-tips/">Interview Tips</a></li>
                <li><a href="/member/createjobalert.aspx">Create Job Alerts</a></li>
                <li><a href="/advancedsearch.aspx">Search Jobs</a></li>
                <li><a href="/submit-resume/">Submit CV</a></li>
            </ul>
        </li>
    </ul>
</div><div id="prefix_left-navigation">[[dynamic-navigation]]</div>
<div id="prefix_left-navigation-static" class="left-hidden">
    <ul>
        <li><a href="/candidates" class="leftnav-active">Candidates</a>
            <ul>
                <li><a href="/interview-tips/">Interview Tips</a></li>
                <li><a href="/member/createjobalert.aspx">Create Job Alerts</a></li>
                <li><a href="/advancedsearch.aspx">Search Jobs</a></li>
                <li><a href="/submit-resume/">Submit CV</a></li>
            </ul>
        </li>
    </ul>
</div>