@import url("//fonts.googleapis.com/css?family=Open Sans:300,300i,400,400i,700,700i,900,900i");
#docContainer
{
	width: 100%;
	max-width: 100% !important;
	margin: 0 !important;
	border: 0 !important;

	color: #333 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px !important;
	line-height: 1.5 !important;
}
#fb-form-header1
{
	height: 0 !important;
	min-height: 0 !important;
}
#docContainer .column
{
	padding: 0;
}
#docContainer .fb-item
{
	display: block !important;
	overflow: hidden;
	position: relative;

	width: auto !important;
	padding: 2px !important; /* make sure box shadow isn't cut off */
	margin: 0 0 0.75em 0;
}
#docContainer .fb-header h2
{
	display: block !important;
	margin: 16px 0 5px 0;

	color: #2c2b7c;
	font-weight: bold;
	font-size: 18px;
	text-shadow: none;
}
#docContainer .fb-grouplabel
{
	width: auto;
	padding: 0;
	margin: 0;
}
#docContainer .fb-grouplabel label
{
	/*fonts*/
	font-size: 14px;
	color: #b3b3b3;
	font-weight: bold !important;
}
#docContainer .fb-checkbox label, 
#docContainer .fb-radio label
{
	margin: 1em 0 0.5em;
}

#docContainer .fb-input-box, 
#docContainer .fb-input-date, 
#docContainer .fb-textarea, 
#docContainer .fb-dropdown, 
#docContainer .fb-listbox, 
#docContainer .fb-checkbox, 
#docContainer .fb-radio
{
	width: auto;
	margin: 0;
}
#docContainer .fb-input-box input, 
#docContainer .fb-input-date input, 
#docContainer .fb-textarea textarea, 
#docContainer .fb-dropdown select, 
#docContainer .fb-listbox select
{
	display: block;
	width: 100%;
	height: 52px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	line-height: 52px;
	vertical-align: middle;
	background-color: #fff;
	color: #555;

	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#docContainer .fb-dropdown select[multiple], 
#docContainer .fb-listbox select,
#docContainer .fb-textarea textarea
{
	height: auto;
	background-image: none;
}
#docContainer .fb-textarea textarea
{
	min-height: 9em;
}
#docContainer .fb-input-box input:focus, 
#docContainer .fb-textarea textarea:focus
{
	border-color: #666;
	outline: 0;
	box-shadow:none;
}
#docContainer input[type="radio"]
{
	margin: 0.1em 0;
}
#docContainer input[type="checkbox"]
{
	margin: 0.2em 0;
}




::-webkit-input-placeholder { /* WebKit browsers */
    color: #666 !important;
    opacity: 1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: 1 !important;
    color: #666 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 1 !important;
    color: #666 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    opacity: 1 !important;
    color: #666 !important;
}

#fb-submit-button-div
{
	height: auto !important;
	padding: 2px !important; /* match padding on group label */
}
#fb-submit-button
{
	    border: 2px solid #2c2b7c !important;
    margin: 0 !important;
    border-radius: 8px;
    text-align: center;
    font-size: 18px !important;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #2c2b7c;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 11px 40px;
    line-height: 1.33;
}
#fb-submit-button:hover, 
#fb-submit-button:active
{
	background: #44c8f5;
	color: #fff;
	border-color: transparent !important;
}
#docContainer label.error
{
	position: absolute;
	top: 4px;
	right: 5px;
	z-index: 1;

	width: auto !important;
	padding: 0 !important;

	color: #FF931E;
}
.required
{
	color: #F60;
}



#docContainer input[type=text], #docContainer input[type=password], #docContainer input[type=email], #docContainer input[type=number], #docContainer input[type=date], #docContainer input[type=url], #docContainer input[type=tel], #docContainer textarea {
    display: block;
    width: 100%;
    height: 52px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    font-family: 'open sans', sans-serif;
    border-radius: 8px;
    font-size: 14px;
    line-height: 52px;
    vertical-align: middle;
    background-color: #fff;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}